@import url("https://fonts.googleapis.com/css2?family=Cuprum:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");

.brand-name {
  font-family: "Sigmar One", cursive;
}
.navbar {
  border-bottom: 1px solid #e4ebf6;
  box-shadow: 0 0 2rem 0 rgb(53 64 82 / 10%);
  display: flex;
  position: relative;
  align-items: center;
  padding: 0.875rem 1.25rem;
}

.navbar-expand .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}

.hamburger {
  cursor: pointer;
  color: #3f4b57;
  height: 40px;
  width: 30px;
  transition: ease-in-out, color 0.1s ease-in-out;
}

.hamburger:hover {
  color: gray;
  cursor: pointer;
}
