.content {
  padding: 2.5rem 2.5rem 1.5rem;
  flex: 1;
}

@media screen and (max-width: 1199.98px) {
  .content {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 991.98px) {
  .content {
    width: 100vw;
    max-width: 100vw;
  }
}
